<div class="template-query-panel full-display">
    <div class="show-panel full-display">
        <div class="toolbar-panel" style="height: 52px"></div>
        <div class="main-panel" style="height: calc(100% - 52px);overflow: hidden">
            <div class="panel-group" id="accordion" style="display: none;max-height: 300px;overflow: auto">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title" style="background-color: #1E90FF">
                            <a class="title-a" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                显示条件面板
                            </a>
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="query-form"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-panel autofit">
            </div>

        </div>
    </div>
    <div class="empty-hint">请选择查询表</div>
</div>
